@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;

  font-family: "Open Sans", sans-serif;
}

header {
  height: 50vh;
  width: 100%;
  height: 50vh;
  background-color: #1d539e;
}

.text-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
}

span,
.title-page,
.description-page {
  color: white;
}

.title-page {
  font-weight: 600;
  font-size: 45px;
}

.description-page {
  padding-top: 20px;
  font-weight: 400;
  font-size: 20px;
}

.container {
  margin-top: -200px;
}

.card-wrapper {
  padding: 0 120px;
  display: flex;
  justify-content: space-evenly;
  /* max-width: 80vw; */
}

.card {
  width: 400px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
  transition: 10ms;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.details {
  padding: 28px;
  height: 91%;
  display: flex;
  flex-direction: column;
}

span {
  color: black;
}

.title-card {
  font-weight: 700;
  font-size: 25px;
}

.price-card {
  padding-top: 30px;
  font-weight: 700;
  font-size: 45px;
}

.price-card-cents {
  padding-top: 30px;
  font-weight: 700;
  font-size: 20px;
}

.price-card-month {
  font-size: 18px;
  font-weight: 100;
}

.description-card {
  padding-top: 30px;
  font-weight: 400;
}

.benefits-card {
  padding-top: 35px;
}

.checkMark {
  padding: 4px;
}

.check-icon {
  font-weight: bolder;
  color: green;
  font-size: 20px;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-btn {
  border: 2px solid #1d539e;
  border-radius: 10px;
  font-size: 20px;

  width: 23vh;
  height: 4.5vh;
}

.subscribe-btn:hover {
  background-color: #1d539e;
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.1s ease;
  color: white;
}
